
body {
  margin: 0;
  background-color: white;
  font-family: Signika, sans-serif;
}

/*-----navbar-----*/

#navbar{
  background-color: ghostwhite;
  border: 1px solid Gainsboro;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}


#navbar a {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
}

#search{
   float: right;
   top:10px;
   margin: 0px 10px 0px 10px;
}

#logo{
    width: 40%;
    display: block;
}

#logo{
    width: 30%;
    position:absolute;
    left: 34%;
    top: 15px;
}


/*-------Profilebar--------*/

#profilebar{
  background-color: white;
  position: fixed;
  width: 100%;
  top: 50px;
  height: 55px;
  
}


#profilebar a {
  color: black;
  padding: 1.5px;
  text-decoration: none;
}

#strikkepigen{
   font-size: 20px;
    float: right;
    padding-right: 45%;
    font-weight: normal;
}


#profilepic{
    width: 12%;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#menuicon{
    width: 30px;
    float: right;
    padding-top: 12px;
    padding-right: 0px;
    
    
}


#mainprofileprojectpic{
    width: 100%;
    padding-top: 28%;
    
    
}

/*-------projectdescriptionbar--------*/

