
/* css variabels */
:root { 
    --primary::rgb(255,255,255);
    --grey:#999999;
    --shadow:#000;
    --lysred:#FF8C8C;
}
body {
  margin: 0;
  background-color: white;
  font-family: Signika, sans-serif;
}

/*-----navbar-----*/

#navbar{
  background-color: ghostwhite;
  border: 1px solid Gainsboro;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1000;
}


#navbar a {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
}

#search{
   width: 5.8%;
   float: right;
   top:10px;
   margin: 0px 10px 0px 10px;
}

#logo{
    width: 40%;
    display: block;
}

#logo{
    width: 30%;
    position:absolute;
    left: 34%;
    top: 15px;
}

/*-------Profilebar--------*/

#profilebar{
  background-color: white;
  position: absolute;
  width: 100%;
  top: 50px;
  height: 55px;
  border: 1px solid gainsboro;
  
}

#profilebar a {
  color: black;
  padding: 1.5px;
  text-decoration: none;
}

#profilebartwo{
  background-color: white;
  border: 1px solid gainsboro;
  position: absolute;
  width: 100%;
  top: 164%;
  height: 55px;
}


#profilebartwo a {
  color: black;
  padding: 1.5px;
  text-decoration: none;
}

#strikkepigen{
   font-size: 18px;
    float: right;
    padding-right: 44%;
    font-weight: bold;
    padding-top: 1.48%;
}

#stoffi{
   font-size: 18px;
    float: right;
    padding-right: 58%;
    font-weight: bold;
    padding-top: 1.48%;
}

#profilepic{
    width: 12%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;    
}

#menuicon{
    width: 25px;
    float: right;
    padding-top: 14px;
    padding-right: 10px;      
}

/*--------/mainprofileprojectsection/--------*/

#mainprofileprojectpic{
    width: 100%;
    padding-top: 28%;   
}

#projecticons{
    width: 100%;
    height: 200px;
    top: 58.2%;
    position: absolute;
}

#projecticonstwo{
   width: 100%;
   height: 350px;
   position: absolute ;
}

#heart{
    width: 8%;
    position:absolute ;
    padding: 10px 10px 10px 15px;
}
#comment{
    width: 7.9%;
    position:absolute ;
    padding: 10px 10px 10px 90px;
}
#favorite{
    width: 7%;
    padding: 10px 15px 10px 10px;
    float: right;
}


/*------------/descriptionsection/------------*/

#projecticons h2{
    font-size: 18px;
    padding: 0px 15px 10px 15px;
    padding-top: 10%;
}

#projecticons h3{
    font-size: 18px;
    font-weight: normal;
    padding: 0px 15px 10px 15px;
}

#name{
    font-size: 18px;
    font-weight: bold;    
}

#kommentar{
    text-decoration: none;
    color: #999999;
}

#profilebutton{
    text-decoration: none;
    color: black;   
}

/*-------BottomNavbar--------*/

.navbarbottom {
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
}

.navbarbottom a{
    text-decoration: none;
    color: #FF8C8C;
    font-size: 15px;
}

.navbarbottom a img{
    width: 22%;
      
}

.navbarbottom {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0px;
  
  padding: 0px;
}

.navbarbottom > div {
  text-align: center;
  padding: 0;
  margin-top: 6px; 
}

.navbarbottom h2{
font-size:10px ;
font-weight: 100;
text-decoration:none;
padding: 0;
margin: auto;
text-align: center;
color: var(--lysred);
}
.sortikon h2{ 
color:var(--lysred);
}

.itemprofilepage h2{
    color: black;
}

.itemfrontpage h2{
    color: black;
}


/*--------------------Favorite---------------*/
#favoritebar{
  background-color: white;
  position: absolute;
  width: 100%;
  top: 50px;
  height: 55px;
  
}

#backicon {
    width: 5%;
    padding-top: 16px;
    padding-bottom: 5px;
    padding-left: 15px;
    
}


#profilepicfavorite{
    width: 50%;
    position: absolute;
    left: 25%;
    top: 17%;
}

/*--------------profil------------*/

#namefavorite{
    text-align: center;
    padding-top: 78%;
    font-size: 22px;
}

#logout{
    font-size: 14px;
    color: var(--grey);
    float: right;
    margin-top: 47%;
    margin-right: 11%;
    border-bottom: 1.5px solid darkgrey;
}


#social{
    display: inline-block;
    padding-bottom: 30px;
    border-bottom: 1px solid gainsboro
}

#social p{
    text-align: center;
    color: var(--grey);
}

#plussocial{
    font-size: 20px;
}

#facebook{
    width: 10%;
    margin-left: 25%
}

#instagram{
    width: 10%;
    margin-left: 8%;
}


#youtube{
    width: 10%;
    margin-left: 8%
}

#troje{
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
    margin-bottom: 40px;
}

#gemteprojekter{
    border-bottom: 1px solid gainsboro;
}

#gemteprojekter p{
    text-align: center;
    
    
}

#hue{
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
    margin-bottom: 40px;
    padding-bottom: 10%;
}

#gemteknap{
    background-color: var(--lysred);
}

#gemteknap a{  
text-align: center;
color: white;
text-decoration: none;


}

#gemteknap p{
padding: 4px;    

}

#mapperknap{
    background-color: darkgrey;
    padding: 0px;
    margin-top: -16px;
}

#mapperknap a{
    text-align: center;
    color: white;
    text-decoration: none;
}

#mapperknap p{
    padding: 4px;

}


/* overlay menu */
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 200px;
	width: 70%;
	background-color:white;
	text-align: center;
	padding: 20px;
	position: relative;
    border-radius: 4px;
    
    
}
.modal-contents img {
    width: 30%;
    margin: 10px;


}
input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

.button{
    background-color:var(--lysred);
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin: 5px;
    display: block;
    align-items: center;
    text-decoration: none;

}
/* button */

  /*.btn{
    background: var(--);
    color: var(--);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border:0;
    border-radius: 3px;
}
.btn:hover{
    background: var(--);
    color: var(--);
}

/* grid-template-areas:'showcase showcase tba''showcase showcase tbb';


.showcase{
    grid-area:showcase; */





/* enkelt projekt */


.btn-shop{
    width: 80%;
    text-align: center;
    background-color: var(--lysred);
    color: var(--primary);
    border-radius: 3px;
    display:block;
    margin:auto;
    color: #fff;
    padding: 1px;
    

}
.btn-shop:hover{
    width: 80%;
    text-align: center;
    background-color: black;
    color: var(--primary);
    border-radius: 3px;
    display:block;
    margin:auto;
    color: #fff;
    padding: 1px;
    

}


.tidpenge{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin-top: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.tidpenge div{
    padding: 10px;
    align-items: center;
    
  
}
.tidpenge h3{
   font-size: 18px;

}

.ganins{
    height: 5px;
    border-bottom: 1px solid gainsboro;
    display:block ;
}

.mat {
margin: 20px;
padding: 10px;

}
.topmat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.topmat img{
align-content: center;
}

.ikonkruv{
    display: block;
   align-items: center;
   margin: auto;
   

}


.ikonkruv img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul{
    list-style: none;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    display: inline-block;
    
}

.item-mat1{
    display:inline-block;
}

.btn-shop:hover{
background-color: black;

}




















































































































































































































































































































































































































































































.styleguide{
    background-color: ghostwhite;
}

.overskrift{
   margin-bottom: 5%;
    margin-left: 5%;
    color: 
}

.stylelogo img{
    width: 40%;
    margin: 5%;

}

.styleguidenav{
    margin-left: 2.3%;
}

.styleguidenav ul li{
    list-style-type: none;
}
.styleguidenav ul li a{
    text-decoration: none;
    color: black;
    
}

.farver{
    margin-left: 5%;
    margin-top: 10%;
}

.farver h1{
    font-size: 100px;
    margin-bottom: 0px;
}

.box1{
    background-color: var(--lysred);
    padding-top: 1px;
    padding-bottom: 1px;
    width: 50%;
}

.box1 p{
    color: white;
    text-align: center;
    font-size: 40px;
}


.box2{
    background-color: var(--grey);
    padding-top: 1px;
    padding-bottom: 1px;
    width: 50%;
    margin-top: 5%;
}

.box2 p{
    color: white;
    text-align: center;
    font-size: 40px;
}

.box3{
    background-color: #000000;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 50%;
    margin-top: 5%;
}

.box3 p{
    color: white;
    text-align: center;
    font-size: 40px;
}

.box4{
    background-color: #ffffff;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 50%;
    margin-top: 5%;
   
}

.box4 p{
    color: black;
    text-align: center;
    font-size: 40px;
}

.typography{
    margin-left: 5%;
    margin-top: 15%;
}

.typography h1{
    font-size: 100px;
    margin-bottom: 0px;
}

.typography h2{
    font-size: 50px;
}

.typography p{
    font-size: 22px
}

.typo1 p{
    font-size: 30px;
}

.typo2 p{
    font-weight: bold;
}
.typo3 p{
    font-size: 18px;
}

.typo4 p{
    font-size: 15px
}

.logopart{
    padding-top: 15%;
    margin-left: 5%;
}

.logopart h1{
    font-size: 100px;
}

.logopart img{
    width: 50%;
}
