
/* css variabels */
:root { 
    --primary::rgb(255,255,255);
    --grey:#4c4c4c;
    --shadow:#000;
}
body {
  margin: 0;
  background-color: white;
  font-family: Signika, sans-serif;
}

/*-----navbar-----*/

#navbar{
  background-color: ghostwhite;
  border: 1px solid Gainsboro;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}


#navbar a {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
}

#search{
   float: right;
   top:10px;
   margin: 0px 10px 0px 10px;
}

#logo{
    width: 40%;
    display: block;
}

#logo{
    width: 30%;
    position:absolute;
    left: 34%;
    top: 15px;
}


/*-------Profilebar--------*/

#profilebar{
  background-color: white;
  position: fixed;
  width: 100%;
  top: 50px;
  height: 55px;
  
}


#profilebar a {
  color: black;
  padding: 1.5px;
  text-decoration: none;
}

#strikkepigen{
   font-size: 20px;
    float: right;
    padding-right: 45%;
    font-weight: normal;
}


#profilepic{
    width: 12%;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#menuicon{
    width: 30px;
    float: right;
    padding-top: 12px;
    padding-right: 0px;
    
    
}


#mainprofileprojectpic{
    width: 100%;
    padding-top: 28%;
    
    
}

/*-------projectdescriptionbar--------*/

/* button */

  .btn{
    background: var(--);
    color: var(--);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border:0;
    border-radius: 3px;
}
.btn:hover{
    background: var(--);
    color: var(--);
}

/* grid-template-areas:'showcase showcase tba''showcase showcase tbb';


.showcase{
    grid-area:showcase; */


    .lownavbar {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 5px;
        background-color:(--grey) ;
        padding: 5px;
      }
      
      .lownavbar > div {
        background-color:grey;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
      }